*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  min-width: 100vw;
  min-height: 100vh;

  background-color: black;
  color: white;

  font-size: 64px;

  display: flex;
  align-items: center;
  justify-content: center;
}
